.new-guide-banner{
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
}

.new-gide-banner-content{
  width: 50%;
  margin: auto;

  @media screen and (max-width: 736px) {
      width: 100%;
      background-color: white;
      box-shadow: none;

      h3{
        padding-top: 42px;
      }
  }
}

#new_guide{
  padding-top: 10px;
  padding-bottom: 10px;
}
