
<div class="new-guide-banner">
  <div class="new-gide-banner-content">
    <h2 class='text-center'>Créer un guide</h2>
    <%= simple_form_for(@guide) do |f| %>
        <p>Titre du guide</p>
        <%= f.input :title, label: false %>
        <p>Sous-titre du guide</p>
        <%= f.input :subtitle, label: false %>
        <div class="text-center">
        <%= f.button :submit, "Créer un guide", class: "new-guide-cta"%>
        </div>
      <% end %>
  </div>
</div>
