<div class="page-title text-center"><p>Créer un guide - étape 1</p></div>
<div class="new-guide-banner">
  <div class="new-gide-banner-content box-shadow">
    <h3 class='text-center'>Créer un guide</h3>
    <%= simple_form_for(@guide) do |f| %>
        <p>Titre du guide</p>
        <%= f.input :title, label: false %>
        <p>Sous-titre du guide</p>
        <%= f.input :subtitle, label: false %>
        <div class="text-center">
        <%= f.button :submit, "Créer un guide", class: "main-cta"%>
        </div>
      <% end %>
  </div>
</div>
